In [1]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = {
    "name": ["Asha", "Rahul", "Priya"],
    "resume": [
        "Python machine learning data analysis",
        "Java SQL backend development",
        "Python NLP machine learning"
    ]
}

df = pd.DataFrame(data)
df

    name                                 resume
0   Asha  Python machine learning data analysis
1  Rahul           Java SQL backend development
2  Priya            Python NLP machine learning

In [3]:
job_description = "Looking for a Python machine learning engineer with NLP and data analysis skills"

In [4]:
vectorizer = TfidfVectorizer()

resume_vectors = vectorizer.fit_transform(df["resume"])
job_vector = vectorizer.transform([job_description])

In [5]:
similarity_scores = cosine_similarity(resume_vectors, job_vector)

df["score"] = similarity_scores

df.sort_values(by="score", ascending=False)

    name                                 resume     score
0   Asha  Python machine learning data analysis  0.888153
2  Priya            Python NLP machine learning  0.760021
1  Rahul           Java SQL backend development  0.000000

In [ ]:
print("Candidate Ranking Based on Job Description:")
print(df.sort_values(by="score", ascending=False))