In [1]:
import pandas as pd
import os
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
import os
os.listdir()

['.ipynb_checkpoints', 'data', 'Resume', 'Untitled.ipynb']

In [7]:
import os
os.listdir("Resume")

['Resume.csv']

In [8]:
import pandas as pd

df = pd.read_csv("Resume/Resume.csv")
df.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [9]:
df.columns

Index(['ID', 'Resume_str', 'Resume_html', 'Category'], dtype='object')

In [12]:
job_description = """
Looking for a Data Science candidate with Python, Machine Learning,
Deep Learning, Data Analysis, Pandas, NumPy, SQL skills.
"""

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words='english')

resume_vectors = vectorizer.fit_transform(df['Resume_str'])
job_vector = vectorizer.transform([job_description])

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_scores = cosine_similarity(job_vector, resume_vectors)

In [15]:
df['Similarity'] = similarity_scores.flatten()

ranked_resumes = df.sort_values(by='Similarity', ascending=False)

ranked_resumes[['Category','Similarity']].head(10)

                    Category  Similarity
1762             ENGINEERING    0.205315
1339              AUTOMOBILE    0.203864
926              AGRICULTURE    0.176736
1218              CONSULTANT    0.176235
2153                 BANKING    0.164460
2291                    ARTS    0.137545
1142              CONSULTANT    0.136495
929              AGRICULTURE    0.123106
331   INFORMATION-TECHNOLOGY    0.121488
1091                   SALES    0.121164

In [16]:
top_candidates = ranked_resumes.head(10)

top_candidates[['ID','Category','Similarity']]

            ID                Category  Similarity
1762  12011623             ENGINEERING    0.205315
1339  18448085              AUTOMOBILE    0.203864
926   62994611             AGRICULTURE    0.176736
1218  21156767              CONSULTANT    0.176235
2153  34953092                 BANKING    0.164460
2291  12777487                    ARTS    0.137545
1142  30863060              CONSULTANT    0.136495
929   11813872             AGRICULTURE    0.123106
331   18067556  INFORMATION-TECHNOLOGY    0.121488
1091  24610685                   SALES    0.121164

In [17]:
required_skills = ["python","machine learning","sql","data analysis","deep learning"]

In [18]:
def find_missing_skills(resume_text):
    missing = []
    text = resume_text.lower()
    for skill in required_skills:
        if skill not in text:
            missing.append(skill)
    return ", ".join(missing)

In [21]:
top_candidates.loc[:, "Missing_Skills"] = top_candidates["Resume_str"].apply(find_missing_skills)

In [22]:
top_candidates.to_csv("ranked_candidates.csv", index=False)

In [23]:
top_candidates = top_candidates.copy()

top_candidates.loc[:, "Missing_Skills"] = top_candidates["Resume_str"].apply(find_missing_skills)

top_candidates.head()

,ID,Resume_str,Resume_html,Category,Similarity,Missing_Skills
1762,12011623,ENGINEERING AND QUALITY TECHNICIAN ...,"<div class=""fontsize fontface vmargins hmargin...",ENGINEERING,0.205315,deep learning
1339,18448085,DATA ANALYST Professional Summa...,"<div class=""fontsize fontface vmargins hmargin...",AUTOMOBILE,0.203864,"machine learning, deep learning"
926,62994611,SOFTWARE DEVELOPER Professi...,"<div class=""MPR skn-cbg1 fontsize fontface vma...",AGRICULTURE,0.176736,"machine learning, data analysis, deep learning"
1218,21156767,Pavithra Shetty Summary ...,"<div class=""RNA skn-mlf9 fontsize fontface vma...",CONSULTANT,0.176235,deep learning
2153,34953092,"CORPORATE BANKING ASSISTANT, INTERN ...","<div class=""fontsize fontface vmargins hmargin...",BANKING,0.164460,"data analysis, deep learning"

In [24]:
print(top_candidates.shape)

(10, 6)

In [25]:
top_candidates = top_candidates.copy()

In [26]:
top_candidates.loc[:, "Missing_Skills"] = top_candidates["Resume_str"].apply(find_missing_skills)

In [28]:
top_candidates.columns

Index(['ID', 'Resume_str', 'Resume_html', 'Category', 'Similarity',
       'Missing_Skills'],
      dtype='object')

In [30]:
top_candidates = top_candidates.rename(columns={"similarity":"Score"})

In [32]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_scores = cosine_similarity(resume_vectors, job_vector).flatten()

In [34]:
df["Score"] = similarity_scores

In [37]:
df_sorted = df.sort_values(by="Score", ascending=False)

In [38]:
top_candidates = df_sorted.head(10).copy()

In [39]:
top_candidates.loc[:, "Missing_Skills"] = top_candidates["Resume_str"].apply(find_missing_skills)

In [40]:
top_candidates[["Category", "Score", "Missing_Skills"]]

,Category,Score,Missing_Skills
1762,ENGINEERING,0.205315,deep learning
1339,AUTOMOBILE,0.203864,"machine learning, deep learning"
926,AGRICULTURE,0.176736,"machine learning, data analysis, deep learning"
1218,CONSULTANT,0.176235,deep learning
2153,BANKING,0.164460,"data analysis, deep learning"
2291,ARTS,0.137545,"python, machine learning, sql, data analysis, ..."
1142,CONSULTANT,0.136495,"python, machine learning, data analysis, deep ..."
929,AGRICULTURE,0.123106,"machine learning, data analysis, deep learning"
331,INFORMATION-TECHNOLOGY,0.121488,"machine learning, deep learning"
1091,SALES,0.121164,"python, machine learning, data analysis, deep ..."